<div class="col-lg-12">
    <div class="input-group custom-search-form">
        <input #account class="form-control" placeholder="Search..."
            (keyup.enter)="getGitHubData(account.value)"
                (blur)="getGitHubData(account.value); account.value='' ">
          <span class="input-group-btn">
            <button class="btn btn-default" (click)="getGitHubData(account.value)">
                <i class="fa fa-search"></i>
            </button>      
        </span>  
    </div>
    <br />
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> User data
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                  <div  *ngFor="let dado of dados">
                      <div class="list-group-item">
                          <i class="fas fa-id-card"></i> ID: {{dado.id}}
                      </div>
                      <div class="list-group-item">
                          <i class="fas fa-id-card"></i> Name: {{dado.name}}
                      </div>
                  </div>
                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fab fa-github-alt"></i> Repositories
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                  <div  *ngFor="let rep of repositories">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <i class="fab fa-github"></i> {{rep.name}}
                          </div>
                          <!-- /.panel-heading -->
                          <div class="panel-body">
                              <div class="list-group">
                                  <div class="list-group-item">
                                      <i class="fas fa-id-card"></i> ID: {{rep.id}}
                                  </div>
                                  <div class="list-group-item">
                                      <i class="fas fa-id-card"></i> Name: {{rep.name}}
                                  </div>
                                  <div class="list-group-item">
                                      <i class="fas fa-id-card"></i> Full Name: {{rep.full_name}}
                                  </div>
                                  <div class="list-group-item">
                                      <i class="fas fa-id-card"></i> URL: {{rep.html_url}}
                                  </div>
                              </div>
                              <!-- /.list-group -->
                          </div>
                          <!-- /.panel-body -->
                      </div>
                      
                  </div>
                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

